.active {
    color: var(--primary);
    transition: color 0.2s ease-in-out;
}

.list {
    a {
        display: block;
        padding: 10px 20px;
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--primary);
        }
    }
}